.App {
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: coral;
}

#map {
  height: 100vh;
}

.search {
  display: inline-block;
  position: absolute;
  top: 10vw;
  padding: 20px;
}

.search-input {
  padding: 10px;
  margin-bottom: 15px;
}